$colors: (
    primary: (
        100: #fff,
        200: #000,
    ),
    secondary: (
        100: #3e3e3e,
        200: #012245,
    ),
    my-darkblue: (
        100: #278df4,
        200: #3f96ff,
        300: #007aff,
        400: #1877f2,
    ),
    my-darkcyan: (
        100: #3fc1d9,
        200: linear-gradient(180deg, #012245 0%, #229ed9 10000%),
        300: linear-gradient(180deg, #2aabee 0%, #229ed9 10000%),
        400: #4db2ec,
    ),
    danger: (
        100: #ff2059cc,
        200:
            radial-gradient(
                92.18% 99.11% at 26.56% 107.7%,
                #ffdd55 0%,
                #ffdd55 10%,
                #ff543e 50%,
                #c837ab 100%
            ),
    ),
    light: (
        100: #f9f9f9,
        200: #e0e0e0,
        300: #ededed,
        400: #e1e1e1,
        500: #e5e5e5,
        600: #cccccc,
        700: #757575
    ),
);
